<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantillas/general :: head"></head>
	<body>
		<header th:replace="plantillas/general :: header"></header>
		<div class="container py-4">
			<div class="card bg-dark text-white">
				<div class="card-header" th:text="${titulo}"> </div>
				<div class="card-body"> 
					<div th:object="${parametro}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>				
					</div>
					<form th:action = "@{/parametro/form}" th:object="${parametro}" method="post">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Nombre</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{nombre}" class="form-control" th:errorClass="'form-control alert-danger'"/>
									<div class="form-text text-danger">
										<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Valor Cadena</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{valorCadena}" class="form-control" th:errorClass="'form-control alert-danger'"/>
									<div class="form-text text-danger">
										<small th:if="${#fields.hasErrors('valorCadena')}" th:errors="*{valorCadena}"></small>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Descripción</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{descripcion}" class="form-control" th:errorClass="'form-control alert-danger'"/>
									<div class="form-text text-danger">
										<small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Estado</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{estado}" class="form-control"  th:errorClass="'form-control alert-danger'"/>
									<div class="form-text text-danger">
										<small th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="Guardar" class="btn btn-secondary"/>
							</div>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="plantillas/general :: footer"></footer>
	</body>
</html>