<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantillas/general :: head"></head>
	<body>
		<header th:replace="plantillas/general :: header"></header>
		<div class="container py-4">
			<div class="card bg-light">
				<div class="card-header" th:text="${titulo}"> </div>
				<div class="card-body"> 
					<h4 class="card-title"><a th:href="@{/parametro/form}" class="btn btn-primary btn-xs">Crear Parámetro</a></h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Identificador</th>
								<th>Nombre</th>
								<th>Valor Cadena</th>
								<th>Descripciósn</th>
								<th>Estado</th>
								<th>editar</th>
								<th>eliminar</th>
							<tr>
						</thead>
						<tbody>
							<tr th:each="parametro: ${parametros}">
								<td th:text=${parametro.id}></td>
								<td th:text=${parametro.nombre}></td>
								<td th:text=${parametro.valorCadena}></td>
								<td th:text=${parametro.descripcion}></td>
								<td th:text=${parametro.estado}></td>
								<td><a class="btn btn-primary btn-xs" th:href="@{/parametro/form/} + ${parametro.id}" th:text="'editar'"></a></td>
								<td><a class="btn btn-danger btn-xs" th:href="@{/parametro/eliminar/} + ${parametro.id}" th:text="'eliminar'" onclick="return confirm('Estás seguro de eliminar?')"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<footer th:replace="plantillas/general :: footer"></footer>
	</body>
</html>